---
import Layout from '../../../layouts/Layout.astro';
import EdgeFunctionExplainer from '../../../components/EdgeFunctionExplainer.astro';
---

<Layout title="Our Difference">
    <h1 class="mb-8" style={{ fontSize: '25px',  fontWeight: 'normal'}}>Why choose us?</h1>
    <EdgeFunctionExplainer />
</Layout>
