---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Australia">
    <h1 class="mb-8" style={{ fontSize: '30px',  fontWeight: 'normal'}}>Why Choose X-Intelligence Catalyst?</h1>
    <EdgeFunctionExplainer />
</Layout>
