---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
In a rapidly evolving economy, where innovation drives progress, [X-Intelligence Catalyst](https://docs.astro.build/en/guides/server-side-rendering/#html-streaming) stands at the forefront of a transformative approach to investing in startups. We are excited to unveil a platform that bridges the gap between everyday investors and groundbreaking startups, offering an experience as dynamic and interactive as the ventures themselves.

X-Intelligence Catalyst is a cutting-edge investment platform designed to democratize access to startup investing. Much like an incubator but with the added benefit of public participation, our platform allows individuals to invest in early-stage companies through a regulated, stock market-like environment.
`;
---

<Layout title="Welcome to X-Intelligence.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10" style={{ fontSize: '12px',  fontWeight: 'normal'}}>X-Intelligence Catalyst</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://xintelligence.netlify.app/revalidation" class="btn btn-lg btn-primary sm:btn-wide">Read the Docs</a>
    </p>
</Layout>
